
<%= render 'home/header'%> 	


<div class="container-home set-bg">
	
	<div class="container">

		<div class="row ">
			<div class="col-lg-12 text-white py-2">
				<div class="home-section ">
				<h2 class="fw-light">JOIN US NOW</h2>
				<h3 class="fw-bolder">FITNESS & SPORT</h3>
				<button type="button" class="btn btn-outline-danger text-white py-2">Read More</button>
				</div>	
			</div>

		</div>

	</div>
		
</div>

<div class="container-fluid ">
	<div class="row">
		<div class="col-md-4 ">
			<div class="feature-item-1 set-bg ">
				<h3 class="fw-bolder text-white">GROUP CLASSES</h3>
				<p class="fw-light text-white ">The Sopranos manages to address the biases<br> and benefits of therapy</p>
				<button type="button" class="btn btn-outline-danger text-white">Read More</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature-item-2 set-bg">
				<h3 class="fw-bolder text-white">PERSONAL TRAINING</h3>
				<p class="fw-light text-white ">The Sopranos manages to address the biases<br> and benefits of therapy</p>
				<button type="button" class="btn btn-outline-danger text-white">Read More</button>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="feature-item-3 set-bg">
				<h3 class="fw-bolder text-white">SPORTS NUTRITION</h3>
				<p class="fw-light text-white ">The Sopranos manages to address the biases<br> and benefits of therapy</p>
				<button type="button" class="btn btn-outline-danger text-white">Read More</button>
			</div>			
			
		</div>
	</div>
</div>	