.breadcrumb-section {
  padding-bottom: 105px;
  background-image: url("https://technext.github.io/activitar/img/about-bread.jpg");
}


.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.breadcrumb-text {
  padding-top: 40px;
  text-align: center;
}


.aboutus-section {
  background: #151515;
  padding-top: 90px;
  padding-bottom: 80px;
}


.aboutus-page-text .section-title {
  text-align: center;
  margin-bottom: 45px;
}